{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'article-list' %}">Newspaper Lecheria</a></h1>
        {% if user.is_authenticated %}
            <span>Bienvenido, {{ user.username }}!</span>
            <!--logout--> 
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>|
            <a href="{% url 'signup' %}">Registrarse</a>
        {% endif %}
    </header>
    <h1><a href="{% url 'article-create' %}">Crear nuevo articulo</a></h1>
    {% block content %}
    
    {% endblock content %}

</body>
</html>